:root{
    --dark: #363740;
    --grey: #c8c8c8;
    --light: #e9eaf0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#sidebar{
    background-color: var(--dark);
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(10, 1fr);
    color: var(--grey);
    position: fixed;
}

#sidebar .sidebar-div{
    padding: 10px 5px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#sidebar .sidebar-div:hover{
    background-color: rgba(60, 61, 70);
}

#sidebar .sidebar-div .block {
    flex: 0;
    flex-basis: 5px;
    background-color: var(--dark);
    width: 5px;
    height: 50px;
    vertical-align: middle;
    border-radius: 3px;
} 

#sidebar .sidebar-div:hover .block{
    background-color: var(--light);
}

#sidebar .sidebar-div .sidebar-icon{
    flex: 0;
    flex-basis: 40px;
    margin: 0px 20px;
}

#sidebar .sidebar-div .sidebar-icon img{
    height: 30px;
}

#sidebar .sidebar-div:hover .sidebar-icon img{
    filter: brightness(100);
}

#sidebar .sidebar-div .sidebar-text{
    flex: 1;
}

#sidebar .sidebar-div:hover .sidebar-text{
    color: var(--light);
}

#sidebar #logo{
    height: 30px;
    padding: 16px;
}

#sidebar #logo div, #sidebar #logo p{
    display: inline;
    vertical-align: middle;
}

#sidebar #logo div img{
    height: 30px;
}

#sidebar #logo p{
    font-size: 30px;
}

#sidebar #settings{
    grid-row: 8 / 9;
}

#sidebar #support{
    grid-row: 9 / 10;
}

#sidebar #privacy{
    grid-row: 10 / 11;
}

#main-body{
    display: grid;
    grid-template-rows: 60px auto;
    background-color: var(--light);
}

#main-body #header{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 60px;
    align-items: center;
}

#main-body #header #search{
    flex: 0;
    flex-basis: 300px;
}

#main-body #header #search div{
    vertical-align: middle;
}

#main-body #header #search div, #main-body #header #search input{
    display: inline;
}

#main-body #header #search-icon{
    height: 30px;
    margin-left: 5px;
}

#main-body #header #search input{
    width: 220px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid var(--dark);
    background-color: var(--light);
}

#main-body #header #header-section{
    flex: 1;
}

#main-body #header #profile-info{
    flex: 0;
    flex-basis: 250px;
}

#main-body #header #profile-info #notification{
    display: inline;
}

#main-body #header #profile-info #notification #notification-icon{
    height: 25px;
}

#main-body #header #profile-info p{
    display: inline;
    vertical-align: middle;
}

#main-body #header #profile-info img{
    border-radius: 50%;
    width: 50px;
    display: inline;
    vertical-align: middle;
    padding: 0px 5px;
}

#main-body #main #greeting{
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0px 5px 5px var(--grey);
    display: flex;
    align-items: center;
    flex-direction: row;
}

#main-body #main #greeting div{
    flex: 1;
}

#main-body #main #greeting p, #main-body #main #greeting button{
    display: inline;
    vertical-align: middle;
}

#main-body #main #greeting p{
    font-weight: bold;
    font-size: 22px;
    padding: 0px 20px;
    flex: 0;
    flex-basis: max-content;
}

#main-body #main #greeting .button-container{
    flex: 0;
    flex-basis: max-content;
    padding: 0px 5px;
}

#main-body #main #greeting button{
    background-color: var(--light);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 2px;
    padding: 2px;
}

#main-body #main #greeting button:hover{
    background-color: #dbdce4;
}

#main-body #main #greeting button img{
    height: 20px;
    vertical-align: middle;
}

#main-body #main #greeting button p{
    vertical-align: middle;
    font-weight: 400;
    padding: 0px 5px;
    font-size: 13px;
    letter-spacing: 0.05px;
}

#main-body #main #charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, max-content);
    gap: 20px;
    padding: 20px 10px;
}

#main-body #main #charts .chart-container{
    background-color: white;
    border-radius: 5px;
    margin: max-content;
}

#main-body #main #charts .chart-container .chart-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-body #main #charts .chart-container .chart-header p{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    flex: 0;
    flex-basis: max-content;
    vertical-align: middle;
    margin: 12px;
}

#main-body #main #charts .chart-container .chart-header div{
    flex: 1;
}

#main-body #main #charts .chart-container .chart-header .header-icons{
    flex: 0;
    flex-basis: max-content;
    vertical-align: middle;
    padding: 0px 8px 0px 0px;
    height: 20px;
    width: 20px;
}

#main-body #main #charts .chart-container .chart-header .header-icons img{
    height: 20px;
}

#main-body #main #charts .chart-container hr{
    margin: 0;
}

#main-body #main #charts .chart-container .chart-image{
    margin: auto;
    width: max-content;
}

#main-body #main #charts .chart-container .chart-image img{
    height: 270px;
}
