:root{
    --dark: #363740;
    --light: #c8c8c8;
    --off-white: #f7f8fc;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
}

#sidebar{
    background-color: var(--dark);
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(10, 1fr);
    color: var(--light);
    position: fixed;
}

#sidebar .sidebar-div{
    padding: 10px 5px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#sidebar .sidebar-div:hover{
    background-color: rgba(60, 61, 70);
}

#sidebar .sidebar-div .block {
    flex: 0;
    flex-basis: 5px;
    background-color: var(--dark);
    width: 5px;
    height: 50px;
    vertical-align: middle;
    border-radius: 3px;
} 

#sidebar .sidebar-div:hover .block{
    background-color: var(--off-white);
}

#sidebar .sidebar-div .sidebar-icon{
    flex: 0;
    flex-basis: 40px;
    margin: 0px 20px;
}

#sidebar .sidebar-div .sidebar-icon img{
    height: 30px;
}

#sidebar .sidebar-div:hover .sidebar-icon img{
    filter: brightness(100);
}

#sidebar .sidebar-div .sidebar-text{
    flex: 1;
}

#sidebar .sidebar-div:hover .sidebar-text{
    color: var(--off-white);
}

#sidebar #logo{
    height: 30px;
}

#sidebar #settings{
    grid-row: 8 / 9;
}

#sidebar #support{
    grid-row: 9 / 10;
}

#sidebar #privacy{
    grid-row: 10 / 11;
}

#main-body{
    display: grid;
    grid-template-rows: 100px auto;
    background-color: red;
}

#main-body #header{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1fr 200px;
    background-color: var(--off-white);
}

#main-body #header #search div{
    vertical-align: middle;
}

#main-body #header #search div, #main-body #header #search input{
    display: inline;
}

#main-body #header #search-icon, #main-body #header #notification-icon{
    height: 30px;
}

#main-body #header #profile-info p{
    display: inline;
}

#main-body #header #profile-info img{
    border-radius: 50%;
    width: 50px;
    display: inline;
    vertical-align: middle;
}

#main-body #main #greeting p, #main-body #main #greeting button{
    display: inline;
}

#main-body #main #charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
    gap: 20px;
}

#main-body #main #charts div{
    background-color: var(--light);
    border-radius: 5px;
}

